body {
    margin:0 auto;
    font: .9em Arial, Helvetica, sans-serif;
    line-height:1.55em;
    color:#f2f2f2;
    background:url(../images/back-site.jpg) #000 center top no-repeat;
    text-align:center;
}
p, h3 {
    margin:0;
    padding:0;
}
#contenedor {
    color:#f2f2f2;
    margin:0 auto;
    width:960px;
    position:relative;
    background:url(../images/back-content.jpg) #000 center top no-repeat;
    overflow:hidden;
    border: 1px solid red;
}
#contenido {
    width:680px;
    float:left;
    text-align:left;
    border: 1px solid #a5beff;
}
#lateral {
    width:266px;
    float:left;
    text-align:left;
    border: 1px solid #80fffa;
}
#pie {
    width:800px;
    text-align:left;
    margin:10px auto;
    padding:20px 0 30px 0;
    border-top:1px solid #141414;
    font-size:12px;
    border: 1px solid #ff2ed4;
}
#pie a {
    margin:0 3px 0 0;
}
.vcard {
    margin:0 0 0 20px;
    background-image:url(../images/vcard-06.png);
    background-position:left bottom;
    background-repeat:no-repeat;
    width:217px;
    height:430px;
    border: 1px solid #3eff48;

}
.vcard #url {
    width:217px;
    height:165px;
    background-image:url(../images/vcard-01.png);
    background-repeat:no-repeat;
    text-indent:-5000px;
    border: 1px solid #ff723f;
}
.vcard #direccion {
    width:217px;
    height:91px;
    background-image:url(../images/vcard-02.png);
    background-repeat:no-repeat;
    text-indent:-5000px;
}
.vcard #direccion .adr #provincia {
    text-indent:-5000px;
}
.vcard #tel {
    width:217px;
    height:47px;
    background-image:url(../images/vcard-03.png);
    background-repeat:no-repeat;
    text-indent:-5000px;
}
.vcard #fax {
    width:217px;
    height:39px;
    background-image:url(../images/vcard-04.png);
    background-repeat:no-repeat;
    text-indent:-5000px;
}
#emailc a {
    text-decoration:none;
    display:block;
    width:218px;
    height:38px;
    background-image:url(../images/vcard-05.png);
    background-repeat:no-repeat;
    text-indent:-5000px;
}
a {
    color:#a2ab73;
    text-decoration:none;
    background-image:url(../images/enlaces.png);
    background-repeat:repeat-x;
    background-position:bottom;
    outline:none

}
a:hover {
    color:#D6E09F
}
span a {
    font-size:.75em;
    padding:0;
    margin:90px 18px 0 0;
    float:right;
    text-align:right;
    display:block;
    color:#D6E09F !important;
    border: 1px solid red;
}
span a:hover {
    color:#D6E09F
}
h2 {
    position:absolute;
    float:left;
    margin:0;
    padding:15px 45px;
}
h2 a {
    background:url(../images/logo-okb-es.png) no-repeat;
    width:113px;
    height:72px;
    display:block;
    text-indent:-2000px;
}
ol {
    clear:both;

    padding:0 0 0 49px;
    margin:0;
    display:block;
    z-index:100;
}
ol li {
    display: inline-block;
    padding:0;
    list-style:none;
    background-image:url(../images/separador-nav.png);
    background-position:0 4px;
    background-repeat:no-repeat;
}

ol a {
    display:block;
    background-repeat:no-repeat; /*width:95px;*/
    height:73px;
    text-indent:-2000px;
    overflow:hidden;
    background-position:0 0;
}
ol li#nosotros a {
    width:94px;
    margin:0 18px 0 0
}
ol li#servicios a {
    width:120px;
    margin:0 18px
}
ol li#trabajos a {
    width:169px;
    margin:0 18px
}
ol li#contacto a {
    width:100px;
    margin:0 0 0 18px
}
#nosotros a {
    background-image: url(../images/nosotros.png);
}
#servicios a {
    background-image: url(../images/servicios.png);
}
#trabajos a {
    background-image: url(../images/trabajos.png);
}
#contacto a {
    background-image: url(../images/contacto.png);
}


.cont-home, .cont-contacte {
    padding:115px 0 30px 49px;
    margin:0 0 0 0;
    border: 2px solid red;
}



/*
ol li {
    float:left;
    padding:0;
    list-style:none;
    background-image:url(../images/separador-nav.png);
    background-position:0 4px;
    background-repeat:no-repeat;
}
ol #nosotros {
    background-image:none !important;
}
ol a {
    display:block;
    background-repeat:no-repeat; !*width:95px;*!
    height:73px;
    text-indent:-2000px;
    overflow:hidden;
    background-position:0 0;
}
ol li#nosotros a {
    width:94px;
    margin:0 18px 0 0
}
ol li#servicios a {
    width:120px;
    margin:0 18px
}
ol li#trabajos a {
    width:169px;
    margin:0 18px
}
ol li#contacto a {
    width:100px;
    margin:0 0 0 18px
}
.cont-home, .cont-contacte {
    padding:115px 0 30px 49px;
    margin:0 0 0 0;
    clear:both;
}
*/
